


.registration-form p{
  font-size: 4em;
}



.registration-form input{
  width: 100%;
}

/* .registration-form d-flex{
  width: 20em;
} */
.registration-form i{
  /* text-align: center; */
  /* margin-top: -55px; */
}


.registration-form .form-outline{
  width: 30em;
}